body
   {
    brackground: #cccccc
   }

   #banner{
    width: 100%;
   }
    
   h1{
      text-align: center;
   }

   p{
    text-align: center;
   }

   #missao{
      font-size: 20px;
   }

   em strong{
    color:#ff0000
   }

   .itens {
      font-style: italic;
   }

   h2{
      text-align: center;
   }
   #concessionaria-toyota-sulpar-Alto-XV-2_Rodolfo-Buhrer-970x550.jpg